<div class="container mt-5  mx-auto w-75">
  <form action="/restaurants" method="POST" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validation-name">*餐廳名稱</label>
        <input type="text" class="form-control" id="validation-name" name="name" placeholder="沙巴巴中東美食" value=""
          required>
        <div class="invalid-feedback">
          Please provide a name.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validation-name_en">Ｎame of restaurant</label>
        <input type="text" class="form-control" id="validation-name_en" name="name_en" placeholder="Sababa Pita Bar"
          value="">
        <div class="invalid-feedback">
          Please provide a name.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validation-image">餐廳圖片網址</label>
        <input type="url" class="form-control" id="validation-image" name="image"
          placeholder="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5635/01.jpg" input="">
        <div class="invalid-feedback">
          Please provide a url.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validation-category">分類</label>
        <input type="text" class="form-control" id="validation-category" name="category" placeholder="中東料理" input="">
        <div class="invalid-feedback">
          Please provide a category.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validation-location">*地址</label>
        <input type="text" class="form-control" id="validation-location" name="location"
          placeholder="台北市羅斯福路三段 283 巷 17 號" value="" required>
        <div class="invalid-feedback">
          Please provide a location.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validation-phone">*電話</label>
        <input type="text" class="form-control" id="validation-phone" name="phone" placeholder="02 2363 8009" value=""
          required>
        <div class="invalid-feedback">
          Please provide a phone.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validation-google_map">地圖網址</label>
        <input type="url" class="form-control" id="validation-google_map" name="google_map"
          placeholder="https://goo.gl/maps/BJdmLuVdDbw" input="">
        <div class="invalid-feedback">
          Please provide a url.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validation-rating">評分</label>
        <select class="form-control" id="exampleFormControlSelect1" id="validation-rating" name="rating" value="">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
          <option>0</option>
        </select>
        <div class="invalid-feedback">
          Please provide a rating.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validation-description">簡介</label>
        <textarea class="form-control" id="validation-description" name="description"
          placeholder="沙巴巴批塔是台灣第一家純手工批塔專賣店,只選用最新鮮的頂級原料,以及道地的中東家傳配方。" value="" rows="3"></textarea>
        <div class="invalid-feedback">
          Please provide a description.
        </div>
      </div>
    </div>
    <button class="btn btn-major" type="submit">儲存餐廳</button>
  </form>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
{{!-- <form>
  <div class="form-group">
    <label for="inputName">餐廳名稱</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="nameHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}